<div class="background">
    <h1 class="title">Pricing</h1>

    <form [formGroup]="prediction" (submit)="predict()">
        <h3>Dimentions</h3>
        <mat-grid-list cols="2" rowHeight="100px" [gutterSize]="'40px'">
            <mat-grid-tile *ngFor="let input of dimentions">
                <app-input-card [input]="input"></app-input-card>
            </mat-grid-tile>
        </mat-grid-list>

        <h3>Equipment</h3>
        <mat-grid-list cols="3" rowHeight="100px" [gutterSize]="'40px'">
            <mat-grid-tile *ngFor="let input of equipment">
                <app-input-card [input]="input"></app-input-card>
            </mat-grid-tile>
        </mat-grid-list>

        <h3>Bathroom</h3>
        <mat-grid-list cols="2" rowHeight="100px" [gutterSize]="'40px'">
            <mat-grid-tile *ngFor="let input of bathroom">
                <app-input-card [input]="input"></app-input-card>
            </mat-grid-tile>
        </mat-grid-list>

        <h3>Location</h3>
        <mat-grid-list cols="1" rowHeight="100px" [gutterSize]="'40px'">
            <mat-grid-tile>
                <app-input-card [input]="zone"></app-input-card>
            </mat-grid-tile>
        </mat-grid-list>

        <h3>Additional Info</h3>
        <mat-grid-list cols="1" rowHeight="100px" [gutterSize]="'40px'">
            <mat-grid-tile>
                <app-input-card [input]="antiquity"></app-input-card>
            </mat-grid-tile>
        </mat-grid-list>
        
        <button>Predict</button>
    </form>
</div>