.left {
    left: 0;
}

.top {
    top: 0;
}

.menu {
    padding: 20px;
    height: 100%;
    position: absolute;
    background-color: #3a86ff;
}

.menu-icon-container {
    display: block;
    text-align: center;
}

.action-container {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-container:hover {
    cursor: pointer;
    background-color: #2e6bdf;
}

.margin-left {
    margin-left: 15px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.center {
    position: relative;
    top: 40%;
}