<div [@openClose]="menuIsOpen ? 'menu-open' : 'menu-closed'" class="menu left top">
    <div class="menu-icon-container">
        <div class="action-container" (click)="toggle()">
            <div class="vertical-center">
                <img class="icon" [src]=menu.icon>
                <label class="margin-left" *ngIf="menuIsOpen">{{menu.label}}</label>    
            </div>
        </div>
    </div>

    <div class="center">
        <div *ngFor="let link of menuLinks" class="menu-icon-container margin-bottom">
            <div class="action-container" [routerLink]='[{ outlets: { menuRouter: ["dashboard"] } }]'>
                <div class="vertical-center">
                    <img class="icon" [src]=link.icon>
                    <label class="margin-left" *ngIf="menuIsOpen">{{link.label}}</label>    
                </div>
            </div>
        </div>
    </div>
</div>