<div class="background">
    <!-- <h1 class="title">House AppRaiser</h1> -->
    
    <!-- <div class="row">
        <div class="column">
            <img  class="logo" [src]="'assets/home/problem.jpg'">
        </div>
        <div class="column">Problem</div>
    </div>

    <div class="row">
        <div class="column">Options</div>
        <div class="column">
            <img class="logo" [src]="'assets/home/options.svg'">
        </div>
    </div>

    <div class="row">
        <div class="column">
            <img class="logo" [src]="'assets/home/solution.svg'">
        </div>
        <div class="column">Solution</div>
    </div> -->
</div>
