<div class="background no-color">
    <h1 class="title">House AppRaiser</h1>

    <div class="container">
        <div class="row center">
            <div class="column flex">
                <div class="margin-bottom">
                    <p>Start <span class="purple">Appraising</span> your desired home</p>
                    <button (click)="redirectPricing()" class="button submit">Pricing</button>
                </div>
    
                <div class="margin-top">
                    <p>Get to know our original dataset</p>
                    <button (click)="redirectDashboard()" class="button submit">Dashboard</button>
                </div>
            </div>
            
            <div class="column">
                <img class="logo" [src]="'assets/home/options.svg'">
            </div>
        </div>
    </div>
</div>
