<div class="card">
    <h2>{{config.title}}</h2>

    <ngx-charts-bar-vertical
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="legend"
        [legendTitle]="config.legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)"
        [view]="view"
        >
    </ngx-charts-bar-vertical>
</div>
