<div class="card" (click)="focus()" [ngClass]="{'error': isError, 'success': isSuccess}">
    <div class="center">
        <div class="icon-column">
            <div *ngIf="input.icon" class="icon" [inlineSVG]="input.icon"></div>
        </div>
        <div class="input-switch" [ngSwitch]="input.type">
            <label>{{input?.label}}</label>
            <input #myInput [id]="index" *ngSwitchCase="'number'" type="number" [formControl]="input.formControl" (blur)="setState()" placeholder="{{input.placeholder}}">
            <input #myInput [id]="index" *ngSwitchCase="'text'" type="text" [formControl]="input.formControl" (blur)="setState()" placeholder="{{input.placeholder}}">
        </div>

        <div class="icon-column-right">
            <div *ngIf="input.icon" class="icon" [inlineSVG]="state"></div>
        </div>
    </div>
</div>
